<!doctype html>

<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link href=" {{ url_for('static', filename='normalize.css') }}">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block code %}{% endblock %}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% endblock %}
</head>

<body>
<div class="jumbotron">
    <H1>{{data.title}}</H1>
    <H3>{{data.tagline}}</H3>
</div>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">Menu
            </button>
            <a class="navbar-brand" href="/index/">Home</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/tasks/">Tasks</a></li>
                <li><a href="/activities/">Activities</a></li>
            </ul>
        </div>
    </div>
</nav>


<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
