<html>
{% extends "base.html" %}
{% block title %}TimeBuddy Index{% endblock %}
{% block code %}
<script type="text/javascript" src="{{ url_for('static', filename='toggle.js') }}"></script>
{% endblock %}

{% block content %}
<div class="col-md-2"></div>

<div class="col-md-8">
    <div class="content">
        <div class="padding"></div>

        <div id="pomodoro">
            <div id="weekly" class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Pomodoro Weekly</h3>
                </div>

                <div class="panel-body">
                    <p>Daily time spent on pomodoro: {{data.weekly.daily}}</p>
                </div>

                <div class="breakdown">
                    <table class="table">
                        <tr>
                            <th>Task</th>
                            <th>Sessions</th>
                            <th>Cycles</th>
                            <th>Cycles per session</th>
                            <th>Avg session duration</th>
                            <th>Total Duration</th>
                        </tr>
                        {% for task in data.weekly_tasks %}
                        <tr>
                            <th>{{task.name}}</th>
                            <th>{{task.sessions}}</th>
                            <th>{{task.cycles}}</th>
                            <th>{{task.cyclesprses}}</th>
                            <th>{{task.avgduration}}</th>
                            <th>{{task.durationString}}</th>
                        </tr>
                        {% else %}
                            <th colspan="6">No tasks with session data.</th>
                        {% endfor %}
                        <tr>
                            <th>Total</th>
                            <th>{{ data.weekly.count }}</th>
                            <th>{{ data.weekly.totalcycles }}</th>
                            <th>{{ data.weekly.cyclesprsession }}</th>
                            <th>{{ data.weekly.average }}</th>
                            <th>{{ data.weekly.total }}</th>
                        </tr>
                    </table>
                </div>
            </div>


            <div id="monthly" class="panel panel-info">
                <div class="panel-heading">
                    <h3>Pomodoro Monthly</h3>
                </div>
                <div class="panel-body">
                    <p>Daily time spent on pomodoro: {{data.monthly.daily}}</p>
                </div>

                <div class="breakdown">
                    <table class="table">
                        <tr>
                            <th>Task</th>
                            <th>Sessions</th>
                            <th>Cycles</th>
                            <th>Cycles per session</th>
                            <th>Avg session duration</th>
                            <th>Total Duration</th>
                        </tr>
                    {% for task in data.monthly_tasks %}
                    <tr>
                        <th>{{task.name}}</th>
                        <th>{{task.sessions}}</th>
                        <th>{{task.cycles}}</th>
                        <th>{{task.cyclesprses}}</th>
                        <th>{{task.avgduration}}</th>
                        <th>{{task.durationString}}</th>
                    </tr>
                    {% else %}
                     <th colspan="6">No tasks with session data.</th>
                    {% endfor %}
                    <tr>
                        <th>Total</th>
                        <th>{{ data.monthly.count }}</th>
                        <th>{{ data.monthly.totalcycles }}</th>
                        <th>{{ data.monthly.cyclesprsession }}</th>
                        <th>{{ data.monthly.average }}</th>
                        <th>{{ data.monthly.total }}</th>
                        </tr>
                    </table>
                </div>
            </div>
        <button type="button" class="btn btn-info" onclick="toggle_visibility('weekly', 'monthly')">Toggle weekly/monthly</button>
        <button type="button" class="btn btn-info" onclick="toggle_visibility('pomodoro', 'activity_tracker')">Toggle pomodoro/activity</button>
    </div>

        <div id="activity_tracker">
            <div id="weekly_acti" class="panel panel-success">
                <div class="panel-heading">
                    <h3>Activities Weekly</h3>
                </div>
                <table class="table">
                    <tr>
                        <th>Activity</th>
                        <th>Count</th>
                        <th>Duration</th>
                        <th>Average session duration</th>
                    </tr>
                    {% for activity in data.weekly_activities.breakdown %}
                    <tr>
                        <th>{{ activity.name }}</th>
                        <th>{{ activity.count }}</th>
                        <th>{{ activity.durationString }}</th>
                        <th>{{ activity.avgduration }}</th>
                    </tr>
                    {% else %}
                    <tr>
                        <th colspan="4">No activities with data.</th>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>Total</th>
                        <th>{{ data.weekly_activities.total_count }}</th>
                        <th>{{ data.weekly_activities.duration_sum }}</th>
                        <th>{{ data.weekly_activities.avg_duration }}</th>
                    </tr>
                </table>
            </div>

            <div id="monthly_acti" class="panel panel-warning">
                <div class="panel-heading">
                    <h3>Activities Monthly</h3>
                </div>
                <table class="table">
                    <tr>
                        <th>Activity</th>
                        <th>Count</th>
                        <th>Duration</th>
                        <th>Average session duration</th>
                    </tr>
                    {% for activity in data.monthly_activities.breakdown %}
                    <tr>
                        <th>{{ activity.name }}</th>
                        <th>{{ activity.count }}</th>
                        <th>{{ activity.durationString }}</th>
                        <th>{{ activity.avgduration }}</th>
                    </tr>
                    {% else %}
                    <tr>
                        <th colspan="4">No activities with data.</th>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>Total</th>
                        <th>{{ data.monthly_activities.total_count }}</th>
                        <th>{{ data.monthly_activities.duration_sum }}</th>
                        <th>{{ data.monthly_activities.avg_duration }}</th>
                    </tr>
                </table>
            </div>
        <button type="button" class="btn btn-info" onclick="toggle_visibility('weekly_acti', 'monthly_acti')">Toggle weekly/monthly</button>
        <button type="button" class="btn btn-info" onclick="toggle_visibility('pomodoro', 'activity_tracker')">Toggle pomodoro/activity</button>
        </div>

        <div class="padding"></div>
        <H1>Calendar</H1>
        <iframe src="{{data.calendar_id}}" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

<div class="col-md-2"></div>
{% endblock %}

</html>