<html>
{% extends "base.html" %}
{% block title %}TimeBuddy Index{% endblock %}
{% block code %}
<script type="text/javascript" src="{{ url_for('static', filename='toggle.js') }}"></script>
{% endblock %}

{% block content %}
<div class="col-md-2"></div>

<div class="col-md-8">
    <div class="content">
        <div class="padding"></div>
        <H1>Statistics</H1>
        <button type="button" class="btn btn-info" onclick="toggle_visibility('weekly', 'inactive')">Toggle weekly/monthly</button>
        <div id="weekly">
            <h3>Weekly statistics</h3>
            <p>Sessions: {{data.weekly.count}}</p>
            <p>Total time spent on pomodoro last week: {{data.weekly.total}}</p>
            <p>Average session duration: {{data.weekly.average}}</p>
            <p>Daily time spent on pomodoro: {{data.weekly.daily}}</p>

            <H1>Weekly breakdown</H1>
            <table class="breakdown">
                <tr>
                    <th>Task</th>
                    <th>Sessions</th>
                    <th>Cycles</th>
                    <th>Duration</th>
                </tr>
                {% for task in data.weekly_tasks %}
                <tr>
                    <th>{{task.name}}</th>
                    <th>{{task.sessions}}</th>
                    <th>{{task.cycles}}</th>
                    <th>{{task.duration}}</th>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="inactive">
            <h3>Monthly statistics</h3>
            <p>Sessions: {{data.monthly.count}}</p>
            <p>Total time spent on pomodoro this month: {{data.monthly.total}}</p>
            <p>Average session duration: {{data.monthly.average}}</p>
            <p>Daily time spent on pomodoro: {{data.monthly.daily}}</p>

            <H1>Monthly breakdown</H1>
            <table class="breakdown">
                <tr>
                    <th>Task</th>
                    <th>Sessions</th>
                    <th>Cycles</th>
                    <th>Duration</th>
                </tr>
            {% for task in data.monthly_tasks %}
            <tr>
                <th>{{task.name}}</th>
                <th>{{task.sessions}}</th>
                <th>{{task.cycles}}</th>
                <th>{{task.duration}}</th>
            </tr>
            {% endfor %}
            </table>
        </div>

        <div class="padding"></div>
        <H1>Calendar</H1>
        <iframe src="{{data.calendar_id}}" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

<div class="col-md-2"></div>
{% endblock %}

</html>