<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro Timer</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>

<body>

<div class="jumbotron">
    <H1>Timebuddy</H1>
    <H3>Control panel</H3>
</div>

<div class="col-md-2"></div>

<div class="col-md-8">
    <div class="content">
        <H1>Calendar</H1>
        <iframe src="YOUR-GOOGLE-CALENDAR-LINK-ID" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>

        <div class="padding"></div>
        <H1>Statistics</H1>

        <h3>Weekly statistics</h3>
        <p>Sessions: {{data.weekly.count}}</p>
        <p>Average session duration: {{data.weekly.average}}</p>

        <h3>Monthly statistics</h3>
        <p>Sessions: {{data.monthly.count}}</p>
        <p>Average session duration: {{data.monthly.average}}</p>
    </div>
</div>

<div class="col-md-2"></div>

</body>
</html>