<html>
{% extends "base.html" %}
{% block title %}Tasks control pane{% endblock %}

{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8">
    <h1>Tasks</h1>
    <table  id="task-panel">
        <tr>
            <th>Task name</th>
            <th>Date added</th>
        </tr>
        {% for task in data.tasks %}
        <tr>
            <th>{{task.name}}</th>
            <th>{{task.date}}</th>
            <th id="del-button">
                <form action="/api/tasks/delete" method="post" >
                    <input type="hidden" name="name" value="{{task.name}}">
                    <input type="Submit" value="Delete">
                </form>
            </th>
        </tr>
        {% endfor %}
    </table>
    <h1>New task</h1>
    <form action="/api/tasks/" method="post">
        <input type="text" name="name" value="name">
        <input type="submit" value="submit">
    </form>
</div>
<div class="col-md-2"></div>
{% endblock %}
</html>