body{
    background-color: #F1F3F2;
}

.panel{
    background-color: #F6F6F6;
}
.content{
    height: 100%;
}

.padding{
    padding-top: 10px;
}

.jumbotron{
    background-image: url(banner.jpg);
    height: 350px;
    padding: 0;
    margin: 0;
}

.jumbotron h1{
    color: #36454f;
    text-align: center;
    position: relative;
    top: 40%;
    text-shadow: 3px 3px #d4ddd7;
}


.jumbotron h2, .jumbotron h3{
    color: #36454f;
    text-align: center;
    position: relative;
    top:40%;
    text-shadow: 1px 1px #d4ddd7;
}

html *{
    font-family: 'Raleway', sans-serif !important;
}


.blue-panel{
    background: #F6F6F6;
    border-color: #6fa8aa;
}

.blue-panel > .panel-heading {
    background: #6fa8aa;
}

.green-panel{
    background: #F6F6F6;
    border-color: #6faa71;
}

.green-panel > .panel-heading {
    background: #6faa71;
}

.red-panel{
    background: #F6F6F6;
    border-color: #aa716f;
}

.red-panel > .panel-heading {
    background: #aa716f;
}

#inactive{
    display: none;
}

#activity_tracker{
    display: none;
}

#monthly_acti{
    display: none;
}

.btn-info{
    background-color: #6f8baa;
    border-color: #6f8baa;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    background-color: #afbfd0;
    border-color: #6f8baa;
}


.hidden{
    display: none !important;
    visibility: hidden !important;
}

.show{
    display: block !important;
}

.invisible{
    visibility: hidden;
}

.statistics{
    position: absolute;

}
