.content{
    height: 100%;
}

.padding{
    padding-top: 10px;
}

.jumbotron{
    background-image: url(banner.jpg);
    height: 350px;
    padding: 0;
    margin: 0;
}

.jumbotron h1{
    color: #36454f;
    text-align: center;
    position: relative;
    top: 40%;
    text-shadow: 3px 3px #d4ddd7;
}


.jumbotron h2, .jumbotron h3{
    color: #36454f;
    text-align: center;
    position: relative;
    top:40%;
    text-shadow: 1px 1px #d4ddd7;
}

#monthly{
    display: none;
}

#inactive{
    display: none;
}

.toggle{
    height: 20px;
    width: 10px;
    display: inline;
    background-color: antiquewhite;
}

.statistics{
    position: absolute;

}

