.content{
    height: 100%;
}

.padding{
    padding-top: 10px;
}

.jumbotron{
    background-image: url(banner.jpg);
    height: 350px;
    padding: 0;
    margin: 0;
}

.jumbotron h1{
    color: #36454f;
    text-align: center;
    position: relative;
    top:40%;
    text-shadow: 3px 3px #d4ddd7;
}


.jumbotron h2, .jumbotron h3{
    color: #36454f;
    text-align: center;
    position: relative;
    top:40%;
    text-shadow: 1px 1px #d4ddd7;
}

#task-panel th{
    width: 100px;
    height: 50px;
    background-color: cornflowerblue;
    border: 2px solid black;
}

#del-button th{
    background-color: white;
    border: none;
}